/*body{
    font-family: 'Poppins', sans-serif;
}*/
body {
  margin: 0;
}
.topBanner {
  display: flex;
  width: 100%;
}
.topLeftHalf {
  width: 50%;
  padding-left: 8%;
  padding-top: 100px;
}
.topRightHalf {
  width: 50%;
}
.topRightHalf img {
  width: 80%;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  line-height: 30px;
}
#skip {
  color: orange;
}
.topBanner p {
  color: #828282;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}
a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 25px;
  background: linear-gradient(88.33deg, #fba24f -7.64%, #ff1e1e 145.94%);
  border-radius: 80px;
  box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
}
.aboutMe {
  display: flex;
  background: url(/images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 70px 0;
}
.leftaboutMe {
  width: 50%;
}
.leftaboutMe img {
  width: 30%;
  padding-top: 60px;
  padding-left: 220px;
}
.rightaboutMe {
  width: 50%;
  padding-top: 4.5%;
}
.rightaboutMe h2 {
  color: #707070;
  font-family: "Montserrat", sans-serif;
}
.rightaboutMe p {
  color: #707070;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 36px;
  margin-right: 165px;
  padding-right: 48px;
}
